service cloud.firestore {
  match /databases/{database}/documents {
    // match /user/{uid} {
    //   allow write, update, delete, create: if request.auth == uid
    // }
    // match /users/{uid}/{document=**} {
    //   allow write, update, delete, create: if request.auth == uid
    // }
    // match /{document=**} {
    //   allow read: if auth.uid != null
    // }
    match /{document=**} {
      allow read, write;
    }
  }
}